html, body {
  height: 100%;
  display: flex;
  flex-flow: column;
}

body {
  margin: 6px;
}

form {
  display: flex;
  flex-flow: column;
}

#search-box {
  margin-bottom: 8px;
}

#entry-list {
  display: block;
  flex: 1 1 auto;
  margin-bottom: 8px;
  min-height: 100px;
  width: 100%;
}

#errors-container {
  color: #8b0000;
  margin-top: 5px;
}
#errors-list {
  margin: 5px 0;
}
#errors-list a {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}
#errors-list a:hover {
  text-decoration: underline;
}
